

/* Get Started Section Animation  */

.getStartedAnimation {
    animation: increaseContainerScale;
    animation-duration: 1.9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: initial;
    animation-direction: alternate;
    /* animation-delay: 1s; */
}

@keyframes increaseContainerScale {
    from {transform:scale(.7);
        transform-origin: left top;
    };
    to {transform: scale(1);};
}

/* Hero Images Container Animation  */ 

.allImages {
    animation: imageContainer;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: initial;
    animation-direction: alternate;
}

@keyframes imageContainer {
    from {transform: scale(0.2);
        transform-origin: left top;
    }
    to {transform: scale(1)}
}


/* First Image Rotation */

/* .rotate{
    animation: imageRotation;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: initial;
    animation-direction: alternate;
}

@keyframes imageContainer {
    from {transform: rotateX('45deg');}
    to {transform: rotateX('0deg');}
} */




/* Images Aninmation  */

/* Fist Animation  */

.imageAnimation1 {
    animation-name: increaseImageScale;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes increaseImageScale {
    0%{transform: scale(1);
    transform-origin: right top;
    }
    100% {transform: scale(1.3);}
}

/* Second Animation  */

.imageAnimation2 {
    animation: decreaseImageScale;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-delay: 3s; */
}

@keyframes decreaseImageScale {
    0% {transform: scale(1);}
    100% {transform: scale(0.6);}
}

/* .firstImageAnimation {
    animation: firstImageRotation, decreaseImageScale;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */

/* @keyframes firstImageRotation {
  from {opacity: 50%;}
  to {opacity: 100%;}
} */
