@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');


.revaliaFont {
    font-family: 'Revalia', sans-serif;
}


.animation {
  animation: anime;
  animation-iteration-count: initial;
  animation-direction: alternate;
  animation-duration: 2s;
}

@keyframes anime {
    from {opacity: 0.2;}
    to {opacity: 1;}
}