@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        background: white;
        /* font-family: 'Montserrat', sans-serif; */
        @apply font-sans;
        color: black;
        margin: 0;
        padding: 0;
    }

}