.topBar {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  border-bottom: 1px solid #C4C4C4;
  background-color: #fff;
  z-index: 1000;

  .topLogo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .firstLogo{
    margin-right: 20px;
  }

  .name {
    //font-weight: bolder;
    font-size: 2rem;
  }
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-color: #381F8C;
  border-radius: 8px;
  padding: 5px;

  .notification, .message {
    font-size: 2.5rem;
    margin-right: 20px;
    color: #fff;
  }

  .message{
    font-size: 2rem;
  }

  .notificationDiv {
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      top: 8px;
      right: 30px;
      width: 8px;
      height: 8px;
      background-color: #FE9B07;
      border-radius: 50%;
    }
  }

  .messageDiv {
    position: relative;
    display: inline-block;

    .message {
      font-size: 2.3rem;
      margin-right: 20px;
      color: #fff;
    }

    .messageCount {
      position: absolute;
      top: 6px;
      right: 20px;
      background-color: #FE9B07;
      color: #fff;
      border-radius: 20px;
      padding: 1px 2px;
      font-size: 1rem;
    }
  }


  .dropdown{
    color: #fff;
  }

  .userDetails {
    margin-right: 20px;
    color: #fff;

    .userName {
      font-size: 1.2rem;
      font-weight: bold;
    }

    //.role {
    //  color: #969696;
    //}
  }

  .userImage {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
  }

  .dropdown {
    margin-left: 20px;
    font-size: 2rem;
  }
}

.sidebarDiv {
  display: flex;
}

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18vw;
  //height: 100vh;
  min-height: 100vh;
  box-shadow: 4px 0px 20px 0px #0000001A;
  padding: 30px;
  background-color: #381F8C;
  color: #fff;

  ol {
    margin-top: 30px;

    .sidebarButton {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 40px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      white-space: nowrap;

      &:hover {
        color: #FE9B07;
      }
    }

  }



  .logoutButton {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 100px;

    &:hover{
      color: #FE9B07;
    }

  }

}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 40px 60px 120px 60px;
}

.footerColumn1 {
  flex-grow: 1.5;

  .secondLogo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    h3{
      margin-left: 10px;
      font-size: 1.5rem;
    }
  }

  p:first-of-type{
    width: 339px;
    margin-bottom: 20px;
    font-weight: 600;
  }

}

.footerColumn2,
.footerColumn3,
.footerColumn4{
  flex-grow: 1;
  text-align: left;
}

.footerColumn2,
.footerColumn3,
.footerColumn4{

  p:first-child{
    font-weight: bolder;
    margin-bottom: 20px;
  }

  p{
    margin-bottom: 10px;
  }
}



